[submodule "library/lib/extern/glfw"]
	path = library/lib/extern/glfw
	url = git@github.com:xfangfang/glfw.git
	shallow = true
[submodule "library/lib/extern/SDL"]
	path = library/lib/extern/SDL
	url = git@github.com:libsdl-org/SDL.git
	shallow = true